.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main-header {
  background-color: #78abc1;
  max-width: auto; 
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(3px + 1.5vmin);
  color: white;
}

.App-header {
  background-color: #3c424e;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform:none;
  }
  to {
    transform:none;
  }
}

.App-prediction {
  text-align: center;
  align-items: center;
  background-color: #78abc1;
  border-style: '1px solid black';
  transform-origin: center;
  color: white;
}

.main-button {
  border: '1px solid black';
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #3c424e;
  min-height: 3vh;
  min-width: 10vh;
  display: flex;
  flex-direction: column;
  font-size: calc(3px + 1.2vmin);
  color: white;
}

._button {
  border: '1px solid black';
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00bfff;
  box-shadow: 0px 8px 20px rgb(255, 255, 255);
  min-height: 4vh;
  min-width: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 1.5vmin);
  color: white;
  border: "none"
}

.chec {
  padding: "10px 20px";
  font-size: "1rem";
  color: white;
  background-color: #00bfff;
  min-height: 4vh;
  min-width: 25vh;
  border: "none";
  border-Radius: "5px";
  cursor: "pointer";
  box-shadow: 0px 8px 20px rgba(0, 191, 255, 1);
  transition: "transform 0.2s";
  margin: "10px"
}

.response-button {
  border: '1px solid black';
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #3c424e;
  min-height: 4vh;
  min-width: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 1.5vmin);
  color: white;
}
.predicted-value {
  border: '1px solid black';
  justify-content: center;
  text-align: center;
  background-color: #3c424e;
  min-height: 4vh;
  height: 50px;
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 1.5vmin);
  color: white;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f8; 
  width: 100%; 
  box-sizing: border-box; 
  margin: 0 auto; 
}

.ai-table {
  width: auto;
  max-width: auto; 
  border-collapse: collapse;
  box-shadow: 0px 8px 20px rgba(0, 191, 255, 1); 
  background-color: #ffffff;
  border-radius: 12px; 
  overflow: hidden
}

.ai-table th, .ai-table td {
  padding: 15px 20px;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #e0e0e0; 
}

.ai-table th {
  background-color: #00bfff; 
  color: white;
  font-weight: bold;
  white-space: nowrap; 
  word-wrap: break-word; 
}

.ai-table tr:hover {
  background-color: #d8e8f8; 
  transition: background-color 0.3s ease;
}

.ai-table td {
  color: #555; 
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.chart-container {
  width: 80%;
  margin: 20px 0;
}

h2 {
  color: #008ecc;
}

.dashboard {
  padding: 20px;
  background-color: #78abc1;
  color: white;
}

.summary-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.summary-card {
  background-color: #00bfff;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0px 8px 20px rgb(255, 255, 255);
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.chart {
  margin: 20px;
  width: 90%;
  background-color: #00bfff;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgb(255, 255, 255)
}

